a{ text-decoration: none; color: inherit; }
html{
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  font-size: var(--rootFont);
}
body{
	margin: 0;
  font-size: var(--fontSize);
  font-family: var(--fontOne),sans-serif;
  background: var(--bgColor);
}
.email{
  margin: 0;
  text-align: center;
  color: #888;
}
.email::after{ content: 'joseph -- at -- strich.io'; }
/*=============================
  Content Container and Loader
  ============================= */
.container{
  display: none;
  overflow-y: hidden;
  .no-js &{
    display: block;
  }
}
.loader{
  height: 100vh;
  background: var(--color-three);
  padding: 10%;
  .no-js &{
    display: none;
  }
}
.header{
  position: relative;
  background: var(--gradientBg);
  height: 450px;
  text-align: center;
  overflow: hidden;
  @media(--iphone-landscape){
    height: 600px;
  }
}

/*=============================
 Gooey Hamburger menu
 ==============================*/
.hamburger {
  width: 25px;
  height: 2px;
  background: white;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12.5px;
  margin-top: -1.5px;
  transition: transform 200ms;
  &-1{
    transform: translate3d(0, -8px, 0);
    .c-menu-open:checked + .c-menu-open-button &{
      transform: translate3d(0, 0, 0) rotate(45deg);
    }
  }
  &-2{
    transform: translate3d(0, 0, 0);
    .c-menu-open:checked + .c-menu-open-button &{
      transform: translate3d(0, 0, 0) scale(0.1, 1);
    }
  }
  &-3{
    transform: translate3d(0, 8px, 0);
    .c-menu-open:checked + .c-menu-open-button &{
      transform: translate3d(0, 0, 0) rotate(-45deg);
    }
  }
}
.footer{
  background: var(--footerBg);
  padding: 20px 10px;
  font-size: 2rem;
  color: var(--footerText);
  text-align: center;
  @media(--android-landscape){
    text-align: left;
  }
  &-text{
    display: block;
    margin: 20px 0;
    @media(--iphone-landscape){
      float: right;
    }
  }
  &-link{
    color: var(--footerLink);
    &:hover{
      color: var(--footerLinkHover);
    }
  }
  &-image{
    width: 60px;
  }
}
.section{
  position: relative;
  &:not(.section-contact){
    padding: 40px 20px 30px;
  }
  &-title, &-description{
    font-family: var(--fontTwo), sans-serif;
    margin: 10px 0;
  }
  &-title{
    font-size: 3.5rem;
  }
  &-description{
    font-size: 3rem;
    font-weight: 300;
  }
  &-skillsets{
    &--article{
      padding: 30px 20px;
      line-height: 1.5;
      a{
        color: #888;
      }
    }
  }
  &-portfolio{
    background: var(--deepPurple);
    color: #eee;
    &::selection{
      background: rgba(0,0,0, 0);
    }
  }
  &-contact{
    padding: 40px 0 30px;
    overflow: hidden;
    transition: all 0.3s ease-out;
    perspective: 700px;
  }
}
svg.logo{
  fill: #fff;
  width: 280px;
  @media(--iphone-landscape){
    margin: 1.5em 0 1em;
  }
}
.divider{
  position: absolute;
  bottom: -22px;
  z-index: 2;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  transform: rotate(45deg);
  &-skillsets{
    background: #eee;
  }
  &-portfolio{
    background: var(--deepPurple);
  }
}
@media(--tablet-landscape){
  .grid-6{
    float: left;
    width: calc(50% - 10px);
    &:last-child{
      margin-left: 10px;
    }
  }
}
/* =======================
   Waypoint
   ====================== */
.waypoint, .waypoint2, .waypoint3{
  visibility: hidden;
  .no-js &{
    visibility: visible;
  }
}
/*===========================
  SVG for hexagons of wonders
  =========================== */
.svg-wrap {
  position: absolute;
  top: 360px;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-left: -8px;
  color: #fff;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  transform: scale(.8);
}
@media(--iphone-landscape){
  .svg-wrap{
    top: 480px;
    transform: none;
  }
}
.svg-wrap p {
  position: absolute;
  max-width: 200px;
  top: 35%;
  left: -10px;
  right: 0;
  z-index: 10;
  margin: 0 auto;
  text-align: center;
  font-size: 1.8rem;
  text-transform: uppercase;
  pointer-events: none;
}
.svg-wrap p svg{
  width: 60px;
  fill: #732D77;
}
.svg-graphic, .svg-profile {
  margin: 10px auto;
  position: relative;
  display: block;
  z-index: 0;
}
.svg-profile{
  width: 200px;
  height: 230px;
}
svg polygon:hover {
  opacity: 1;
}

/* Hexagons of wonder at above the fold content */
.hexagon1{ fill: var(--color-one); }
.hexagon2{ fill: var(--color-two); }
.hexagon3{ fill: var(--color-three); }

/*============================
 Hexagon tiled social buttons
 ============================= */
.honeycomb {
  position: relative;
  bottom: -40px;
  text-align: center;
  height: 280px;
  width: 1365px;
  margin: 0 auto;
  transform: rotateX(45deg) rotateY(0deg);
  transform-style: preserve-3d;
  transform-origin: center 65%;
}
.honeycomb .column {
  float: left;
  width: 62px;
}
.honeycomb .column:nth-child(odd) {
  margin-top: 36px;
}
.honeycomb .hex {
  display: block;
  position: relative;
  float: left;
  margin: 0;
  height: 72px;
  width: 62px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  transform-style: preserve-3d;
  transition: all 0.3s ease-out;
  opacity: 0.7;
  &:hover{
    opacity: 1;
    transform: translateZ(20px);
    transition-duration: 200ms;
  }
  .wrapper{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .content{
    display: block;
    position: absolute;
    top: 0;
    left: -80px;
    text-align: center;
    width: 200px;
    padding: 15px 0;
    opacity: 1;
    transition-delay: 0.1s;
    transition: all 0.3s ease-out 0.1s;
    pointer-events: none;
    .icon{
      color: var(--white);
      font-size: 2.5rem;
    }
  }
}
.honeycomb .hexes-1 .content{
  padding-right: 10px;
}
.honeycomb .color-0{
  background: var(--black);
  &::before{
    border-right-color: var(--black);
  }
  &::after{
    border-left-color: var(--black);
  }
}
.honeycomb .color-1 {
  background: #555;
  &::before{
    border-right-color: #555;
  }
  &::after{
    border-left-color: #555;
  }
}
.honeycomb .color-2{
  background: $facebook;
  &::before{
    border-right-color: $facebook;
  }
  &::after{
    border-left-color: $facebook;
  }
}
.honeycomb .color-3{
  background: $twitter;
  &::before{
    border-right-color: $twitter;
  }
  &::after{
    border-left-color: $twitter;
  }
}
.honeycomb .color-4{
  background: $googleplus;
  &::before{
    border-right-color: $googleplus;
  }
  &::after{
    border-left-color: $googleplus;
  }
}
.honeycomb .color-5{
  background: $instagram;
  &::before{
    border-right-color: $instagram;
  }
  &::after{
    border-left-color: $instagram;
  }
}
.honeycomb .color-6{
  background: $dribbble;
  &::before{
    border-right-color: $dribbble;
  }
  &::after{
    border-left-color: $dribbble;
  }
}
.honeycomb .color-7{
  background: $pinterest;
  &::before{
    border-right-color: $pinterest;
  }
  &::after{
    border-left-color: $pinterest;
  }
}
.honeycomb .color-8{
  background: $deviantart;
  &::before{
    border-right-color: $deviantart;
  }
  &::after{
    border-left-color: $deviantart;
  }
}
.honeycomb .color-9{
  background: $vimeo;
  &::before{
    border-right-color: $vimeo;
  }
  &::after{
    border-left-color: $vimeo;
  }
}
.honeycomb .color-10{
  background: $linkedin;
  &::before{
    border-right-color: $linkedin;
  }
  &::after{
    border-left-color: $linkedin;
  }
}
.honeycomb .color-11{
  background: $foursquare;
  &::before{
    border-right-color: $foursquare;
  }
  &::after{
    border-left-color: $foursquare;
  }
}
.hexagon {
  display: block;
  position: absolute;
  width: 36px;
  height: 62px;
  background-color: #ffffff;
}
.hexagon:before, .hexagon:after {
  content: "";
  position: relative;
  float: left;
  border-top: 31px solid transparent;
  border-bottom: 31px solid transparent;
}
.hexagon:before {
  border-right: 18px solid #ffffff;
  left: -18px;
}
.hexagon:after {
  border-left: 18px solid #ffffff;
  right: -18px;
}
/*==========================
  SVG icons
  ======================== */
.icon{
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.skillsets{
  position: relative;
  width: 415px;
  margin: 0 auto;
  height: 350px;
  overflow: hidden;
  @media(--tablet-landscape){
    margin-top: 60px;
  }
}
.skillsets--node{
  position: absolute;
  width: 70px;
  height: 45px;
  background: var(--deepPurple);
  padding: 5px 0;
  text-align: center;
  color: var(--white);
  cursor: default;
  &::before{
    content: '';
    position: absolute;
    top: -15px;
    left: 0;
    width: 0;
    height: 0;
    border-bottom: 15px solid var(--deepPurple);
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
  }
  svg{
    width: 2em;
    font-size: 3.5rem;
    fill: #ddd;
  }
  span{
    font-size: 1.5rem;
    padding-top: 5px;
    display: none;
  }
}
.skillsets--node::after{
  content: '';
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 0;
  height: 0;
  border-top: 15px solid var(--deepPurple);
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
}
.skillsets--node:hover{
  background: var(--hexnodeHover);
}
.skillsets--node:hover::before{
  border-bottom-color: var(--hexnodeHover);
}
.skillsets--node:hover::after{
  border-top-color: var(--hexnodeHover);
}
.skillsets--node:hover span{
  display: block;
}
.skillsets--node:hover svg{
  display: none;
}
.node-1{
  position: absolute;
  top: 20px;
}
.node-2{
  position: absolute;
  top: 20px;
  left: 75px;
}
.node-3{
  position: absolute;
  top: 85px;
  left: 38px;
}
.node-4{
  position: absolute;
  top: 85px;
  left: 115px;
}
.node-5{
  position: absolute;
  top: 150px;
  left: 150px;
}
.node-6{
  position: absolute;
  top: 150px;
  left: 225px;
}
.node-7{
  position: absolute;
  top: 215px;
  left: 115px;
}
.node-8{
  position: absolute;
  top: 215px;
  left: 190px;
}
.node-9{
  position: absolute;
  top: 85px;
  left: 260px;
}
.node-10{
  position: absolute;
  top: 85px;
  left: 335px;
}
.node-11{
  position: absolute;
  top: 20px;
  left: 297px;
}
.node-9,.node-10,.node-11{
  display: none;
  @media (--android-landscape){
    display: block;
  }
}
/*========================
 Lory library for carousel
==========================*/
 .frame {
  position: relative;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  white-space: nowrap;
  width: 90%;
  margin: 10px auto;
}

.slides {
  display: block;
}

.slides li {
  position: relative;
  display: inline-block;
  width: 118%;
  @media(--android-landscape){
    width: 115%;
  }
  @media(width >= 950px){
    width: 105%;
  }
  background: rgba(0,0,0, 0);
  font-size: 5rem;
  text-align: center;
  h3{
    font-weight: 400;
    font-size: 2rem;
  }
  img{
    width: 200px;
    @media(--android-landscape){
      width: 400px;
    }
    @media(--tablet-portrait){
      width: 600px;
    }
  }
}
.slider--nav{
  fill: #bbb;
  width: 60px;
  height: 60px;
}
.prev, .next{
  position: absolute;
  top: 40%;
  @media(--tablet-portrait){
    top: 50%;
  }
  display: block;
  cursor: pointer;
}
.prev{
  left: 0;
}
.next{
  right: 0;
}
.avatar{
  display: block;
  width: 300px;
  @media(--iphone-landscape){
    width: 400px;
  }
  margin: 0 auto;
}
.link{
  &--stealth.link--stealth{
    color: #222;
  }
}
