a{ text-decoration: none; color: inherit; }
html{
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  font-size: var(--rootFont);
}
body{
	margin: 0;
  font-size: var(--fontSize);
  font-family: var(--fontOne),sans-serif;
  background: var(--bgColor);
}
.container{
  display: none;
  overflow-y: hidden;
  .no-js &{
    display: block;
  }
}
.loader{
  height: 100vh;
  background: var(--menuColor);
  padding: 10%;
  .no-js &{
    display: none;
  }
}
.header{
  position: relative;
  background: var(--gradientBg);
  height: 600px;
  text-align: center;
}

.hamburger {
  width: 25px;
  height: 2px;
  background: white;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12.5px;
  margin-top: -1.5px;
  transition: transform 200ms;
  &-1{
    transform: translate3d(0, -8px, 0);
    .c-menu-open:checked + .c-menu-open-button &{
      transform: translate3d(0, 0, 0) rotate(45deg);
    }
  }
  &-2{
    transform: translate3d(0, 0, 0);
    .c-menu-open:checked + .c-menu-open-button &{
      transform: translate3d(0, 0, 0) scale(0.1, 1);
    }
  }
  &-3{
    transform: translate3d(0, 8px, 0);
    .c-menu-open:checked + .c-menu-open-button &{
      transform: translate3d(0, 0, 0) rotate(-45deg);
    }
  }
}
.footer{
  background: #835286;
  padding: 20px 10px;
  font-size: 2rem;
  color: var(--footerText);
  text-align: center;
  @media(--android-landscape){
    text-align: left;
  }
  &-text{
    display: block;
    @media(--iphone-landscape){
      float: right;
    }
  }
  &-link{
    color: #B980DA;
    &:hover{
      color: #5F3875;
    }
  }
}
.section{
  position: relative;
  min-height: 500px;
  padding: 40px 20px 30px;
  &-title, &-description{
    font-family: var(--fontTwo), sans-serif;
    margin: 10px 0;
  }
  &-title{
    font-size: 3.5rem;
  }
  &-description{
    font-size: 3rem;
    font-weight: 300;
  }
  &-skillsets{
    &--article{
      padding: 30px 20px;
      a{
        color: #888;
      }
    }
  }
  &-portfolio{
    background: var(--deepPurple);
    color: #eee;
  }
}
.divider{
  position: absolute;
  bottom: -22px;
  z-index: 2;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  transform: rotate(45deg);
  &-skillsets{
    background: #eee;
  }
  &-portfolio{
    background: var(--deepPurple);
  }
}
@media(--tablet-landscape){
  .grid-6{
    float: left;
    width: calc(50% - 10px);
    &:last-child{
      margin-left: 10px;
    }
  }
}

.waypoint{
  visibility: hidden;
  .no-js &{
    visibility: visible;
  }
}

.svg-wrap {
  position: absolute;
  top: 480px;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-left: -8px;
  color: #fff;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}
.svg-wrap p {
  position: absolute;
  max-width: 200px;
  top: 43%;
  left: 0;
  right: 0;
  z-index: 10;
  margin: 0 auto;
  text-align: center;
  font-size: 1.8rem;
  text-transform: uppercase;
  pointer-events: none; 
}
.svg-graphic {
  margin: 10px auto;
  position: relative;
  display: block;
  z-index: 0;
}
svg polygon:hover {
  opacity: 1;
}

.hexagon1{ fill: var(--color-one); }
.hexagon2{ fill: var(--color-two); }
.hexagon3{ fill: var(--color-three); }