/* 
 Namespaces to maintain code at scale
 
 .o    - Objects containing blocks from BEM
 .c    - Components
 .js   - Javascript hooks

 Styleguide 1.0.0
*/
/*========== Objects ==================*/
.o{
  &-container{
  	width: 100%;
  	max-width: var(--containerWidth);
  	margin: 0 auto;
  }
}
/*========== Components ===============*/
.c{
	&-menu {
	  position: absolute;
	  left: 50%;
	  margin-left: -40px;
	  padding-top: 20px;
	  padding-left: 80px;
	  width: 320px;
	  height: 100px;
	  box-sizing: border-box;
	  font-size: 20px;
	  text-align: left;
	  filter: url("#shadowed-goo");
	  &-open{ display: none; }
	  &-item, &-open-button{
	    background: var(--menuColor);
	    border-radius: 100%;
	    width: 60px;
	    height: 60px;
	    margin-left: -10px;
	    position: absolute;
	    top: 20px;
	    color: white;
	    text-align: center;
	    line-height: 60px;
	    transform: translate3d(0, 0, 0);
	    transition: transform ease-out 200ms;
	  }
	  &-item{
	    &:hover{
	      background: var(--menuHover);
	      color: var(--menuColor);
	    }
	    &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6){
	      transition-duration: 180ms;
	    }
	  }
	  &-open-button{
	    z-index: 2;
	    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	    transition-duration: 400ms;
	    transform: scale(1.1, 1.1) translate3d(0, 0, 0);
	    cursor: pointer;
	    &:hover{
	      transform: scale(1.2, 1.2) translate3d(0, 0, 0);
	    }
	  }
	}

	&-menu-open:checked + .c-menu-open-button {
	  transition-timing-function: linear;
	  transition-duration: 200ms;
	  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
	}
	&-menu-open:checked ~ .c-menu-item {
	  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
	}
	&-menu-open:checked ~ .c-menu-item:nth-child(3) {
	  transition-duration: 170ms;
	  transform: translate3d(60px, 0, 0);
	}
	&-menu-open:checked ~ .c-menu-item:nth-child(4) {
	  transition-duration: 250ms;
	  transform: translate3d(120px, 0, 0);
	}
	&-menu-open:checked ~ .c-menu-item:nth-child(5) {
	  transition-duration: 330ms;
	  transform: translate3d(180px, 0, 0);
	}
}
/*================ JS Hooks =============== */
.js{

}